/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/* MEYER RESET END */

* {
    box-sizing: border-box;
    font-size: 12px;
}

body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.body {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.request-list, .artist-list {
    width: 45%;
    margin: 1rem;
}

.request-card, .artist-card {
    width: 100%;
    align-self: flex-start;
    box-shadow: 1px 1px 3px black;
    margin: 1rem;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

nav {
    display: flex;
    background-color: slategray;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

div.links {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#signup-button, #login-button {
    padding: 13px;
}

#logo {
    padding: 20px;
    margin-left: 1rem;
}

div p {
    padding: 13px;
}

nav a {
    text-decoration: none;
    background-color: rgb(138, 145, 151);
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

form h2 {
    padding: 1rem;
    font-size: 32px;
    align-self: center;
}

form input {
    margin-bottom: 8px;
}

form label {
    margin-bottom: 5px;
}

#artist-checkbox {
    margin: 8px 0px 5px 0px;
}

.submit-input-signup-login {
    margin: 5px;
    align-self: center;
    width: 50%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
}