<div class="artist-list">
    <h2>Artists</h2>
    {{#each @artists as |artist|}}
        <div class="artist-card">
            <h3>{{artist.username}}</h3>
            {{#each artist.images as |image|}}
                <img id={{image.id}} src="{{image.imageURL}}" alt="character" />
            {{/each}}
        </div>
    {{/each}}
</div>

{{yield}}