<nav>
    <LinkTo @route="index" class="nav-index">
        <div id="logo">Character Creation Logo</div>
    </LinkTo>
    <div class="links">
        {{#if this.authManager.isAuthenticated}}
        <button type="button" class="logout-button" {{on "click" this.logout}}>
            Log out
        </button>
        {{else}}
        <LinkTo @route="login" class="nav-index">
            <div id="login-button">Log In</div>
        </LinkTo>
        <p>OR</p>
        <LinkTo @route="signup" class="nav-index">
            <div id="signup-button">Sign Up</div>
        </LinkTo> 
        {{/if}}
    </div>
</nav>

{{yield}}