<h2>Requests</h2>
<ul class="request-list">
    <li>
        <div class="request-card">
            <h4>Red Dragonborn Artificer</h4>
            <byline>mike-the-new-man</byline>
            <p>My red dragonborn is very strong and wears a black cloak to conceal a scar on his face. He should be positioned standing on top of a small pile of dead goblins that he has recently killed, holding one of his creations in his hand triumphantly in the air.</p>
        </div>
    </li>
    <li>
        <div class="request-card">
            <h4>Mountain Dwarf Samurai - Angus Precisword</h4>
            <byline>xX ShadowBlade69 Xx</byline>
            <p>While the other dwarves studied bleak stone, my dwarf mastered the art of the blade. He wears a metallic fedora and dual-wields katanas crafted with the blood of an ancient dragon and the Demon Lord Orcus.</p>
        </div>
    </li>
    <li>
        <div class="request-card">
            <h4>Human Cowboy - Michael Nimbus</h4>
            <byline>corey-the-cowboy</byline>
            <p>Michael is a man from the future stuck in the Wild West. He's converted his laser handguns to look like old-timey revolvers to avoid suspicion. Anyone who has seen the guns fire doesn't live to tell the tale.</p>
        </div>
    </li>
    <li>
        <div class="request-card">
            <h4>Gnome Grandma</h4>
            <byline>The Shapster</byline>
            <p>Just looking for a quick sketch of an npc from my campaign - I'd like her to have a custom token because the characters have gotten very attached to her.</p>
        </div>
    </li>
</ul>
<h2>Artists</h2>
<ul class="artist-list">
    <li>
        <div class="artist-card">
            <h4>jazzy-jorge</h4>
            <p>A list of like 4 images horizontally displayed</p>
        </div>
    </li>
    <li>
        <div class="artist-card">
            <h4>KILLERkyle!</h4>
            <p>A list of like 4 images horizontally displayed</p>
        </div>
    </li>
    <li>
        <div class="artist-card">
            <h4>mischievous-miwha</h4>
            <p>A list of like 4 images horizontally displayed</p>
        </div>
    </li>
</ul>

{{outlet}}