<form id="login">
    <h2>Log In</h2>

    <label for="login-username">Username:</label>
    <Input type="text" name="username" id="login-username" placeholder="Username" />

    <label for="login-password">Password:</label>
    <Input type="password" name="password" id="login-password" placeholder="Password" />

    <Input type="submit" class="submit-input-signup-login" value="Log In" />
</form>

{{outlet}}