<form id="signup" {{on "submit" this.signup}}>
    <h2>Sign Up</h2>

    <label for="signup-username">Username:</label>
    <input type="text" name="username" id="signup-username" placeholder="Username" />

    <label for="signup-password">Password:</label>
    <input type="password" name="password" id="signup-password" placeholder="Password" />

    <label for="signup-email">Email:</label>
    <input type="email" name="email" id="signup-email" placeholder="Email" />

    <div id="artist-checkbox">
        <label for="signup-artist">Are you an Artist?</label>
        <input type="checkbox" name="signup-artist" />
    </div>

    <input type="submit" class="submit-input-signup-login" value="Sign Up" />
</form>

{{outlet}}